#!/bin/bash

# Load GPT credentials from 1Password
export OPENAI_API_KEY="$(op read "op://Personal/GPT_CHINESE/credential")"

# Load Gemini credentials from 1Password
export GEMINI_API_KEY="$(op read "op://Personal/GEMINI_API_KEY/credential")"


export AZURE_LANGUAGE_ENDPOINT="$(op read "op://Personal/AZURE_COGNITIVE_SERVICES/endpoint")"
export AZURE_LANGUAGE_KEY="$(op read "op://Personal/AZURE_COGNITIVE_SERVICES/credential")"
