#!/bin/bash

# Load GPT credentials from 1Password
export OPENAI_API_KEY="$(op read "op://Personal/GPT_CHINESE/credential")"

# Load Gemini credentials from 1Password
export GEMINI_API_KEY="$(op read "op://Personal/GEMINI_API_KEY/credential")"